
body {
  font-family: 'Inter', sans-serif;
  background-color: #11151b;
  color: white;
}


.card {
  background-color: #1a2028;
  border: 1px solid #1a2028;
  border-radius: 8px;
  padding: 1.5rem;
}


